[submodule "src/games/animalcollector"]
	path = src/games/animalcollector
	url = https://github.com/ZackarySantana/AnimalCollector.git
[submodule "src/games/tilegame"]
	path = src/games/tilegame
	url = https://github.com/ZackarySantana/TileGame.git
[submodule "src/games/rpg"]
	path = src/games/rpg
	url = https://github.com/ZackarySantana/RPG.git
