#resume-page {
	--parent-background: #14161a;
	--background: #121212;

	--shadow-color: rgba(0, 0, 0, 0.8);
	--shadow-radius: 30px;

	--error: #CF6679;
	--on-background: #eeeeee;
	--unactive: #555;
}
