#resume-page {
	--parent-background: #14161a;
	--background: #121212;

	--shadow-color: rgba(0, 0, 0, 0.8);
	--shadow-radius: 30px;

	--error: #CF6679;
	--on-background: #eeeeee;
	--inactive: #555;

	p.link {
		margin: 0;
		text-decoration: underline;
		transition: color 1s, text-decoration-color 1s;

		&.active {
			color: var(--on-background);
			text-decoration-color: var(--inactive);
		}

		&:hover {
			color: var(--on-background);
			text-decoration-color: var(--on-background);
		}
	}

	h1 {
		height: fit-content;
		text-align: center;
		font-size: 4rem;
		letter-spacing: -5px;
	}

	h2 {
		height: fit-content;
		font-size: 2.5rem;
	}

	button {
		font-size: 30px;
		padding: 16px 10px 16px 10px;

		outline: none;
		border: none;
	}

	svg[type="button"] {
		width: 3.33vw;
		height: 3.33vw;

		min-width: 6.56vh;
		min-height: 6.56vh;

		padding: 10px 10px 10px 10px;
	}

	button,
	svg[type="button"] {
		color: var(--inactive);
		background-color: inherit;
		border-radius: 15px;
		box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09),
			3px 3px 3px rgba(0, 0, 0, 0.5);
		transition: color 1s;

		&:not([disabled]):hover {
			color: var(--on-background);
		}

		&:active {
			box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
				3px 3px 3px rgba(0, 0, 0, 0.5) inset;
		}

		&[disabled] {
			cursor: not-allowed;
			box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
				3px 3px 3px rgba(0, 0, 0, 0.5) inset;
		}
	}

	abbr {
		font-style: italic;
	}
}
