#resume-page {
	--parent-background: #14161a;
	--background: #121212;

	--shadow-color: rgba(0, 0, 0, 0.8);
	--shadow-radius: 30px;

	--error: #CF6679;
	--on-background: #eeeeee;
	--unactive: #555;

	button {
		font-size: 30px;
		padding: 16px 10px 16px 10px;

		color: var(--unactive);
		background-color: inherit;
		box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09),
			3px 3px 3px rgba(0, 0, 0, 0.5);
		transition: color 1s;

		outline: none;
		border: none;

		&:not([disabled]):hover {
			color: var(--on-background);
		}

		&:active {
			box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
				3px 3px 3px rgba(0, 0, 0, 0.5) inset;
		}

		&[disabled] {
			cursor: not-allowed;
			box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
				3px 3px 3px rgba(0, 0, 0, 0.5) inset;
		}
	}

	svg {
		width: 3.33vw;
		height: 3.33vw;

		min-width: 6.56vh;
		min-height: 6.56vh;

		padding: 10px 10px 10px 10px;

		color: var(--unactive);
		border-radius: 15px;
		box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09),
			3px 3px 3px rgba(0, 0, 0, 0.5);
		transition: color 1s;

		&:not([disabled]):hover {
			color: var(--on-background);
		}

		&:active {
			box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
				3px 3px 3px rgba(0, 0, 0, 0.5) inset;
		}

		&[disabled] {
			cursor: not-allowed;
			box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.09) inset,
				3px 3px 3px rgba(0, 0, 0, 0.5) inset;
		}
	}
}
