#resume-page #resume-section {
	.resume-title {
		display: flex;
		align-content: center;
		justify-content: center;

		a {
			display: flex;
			align-content: center;
			justify-content: center;
		}

		svg {
			width: 50px;
			height: auto;
			margin-left: 30px;
		}
	}

	#resume-content {
		display: grid;
		grid-template-columns: 49.95% 0.1% 49.95%;

		.column {
			padding-left: 5%;

			p {
				font-size: 1.5rem;
				padding: 0;
				margin: 0;
			}

			h2 span {
				font-size: 1.5rem;
			}

			ul {
				list-style: circle;
				font-size: 1.5rem;

				li {
					font-size: 1.25rem;
				}
			}
		}
	}
}
