#resume-page #introduction-content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;

	ul {
		width: 75%;
		height: auto;
		padding: 0;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;

		list-style: none;

		li {
			flex-basis: 50%;
			display: flex;
			justify-content: center;

			padding-bottom: 4vh;

			&.icon-buttons {
				display: flex;
				justify-content: space-evenly;
			}
		}
	}
}
