#resume-page #projects-content {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;

	height: 100%;

	.card {
		position: relative;

		width: 30%;
		height: 0;

		margin-top: 3%;
		padding-bottom: 30%;

		cursor: pointer;
		transition: height .5s;
		border: 5px black solid;

		&:hover {
			height: 100px;

			.card-img-container svg {
				opacity: 1;
			}

			.card-content {
				opacity: 1;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			background: #fff;
			z-index: -1;
		}

		&:after {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			background: #fff;
			z-index: -2;
			filter: blur(40%);
		}


		&:before,
		&:after {
			background: linear-gradient(125deg, rgba(142, 142, 142, 1) 0%, rgba(1, 6, 21, 1) 50%, rgba(130, 130, 130, 1) 100%);
		}

		&:hover:before,
		&:hover:after {
			background: linear-gradient(125deg, rgba(20, 74, 0, 1) 0%, rgba(0, 34, 41, 0) 50%, rgba(7, 0, 120, 1) 100%);
		}

		&:nth-child(2):before,
		&:nth-child(2):after {
			background: linear-gradient(235deg, rgba(142, 142, 142, 1) 0%, rgba(1, 6, 21, 1) 50%, rgba(130, 130, 130, 1) 100%);
		}

		&:nth-child(2):hover:before,
		&:nth-child(2):hover:after {
			background: linear-gradient(235deg, rgba(148, 0, 55, 1) 0%, rgba(1, 6, 21, 1) 50%, rgba(123, 125, 0, 1) 100%);
		}

		.card-img-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 10px;
			box-sizing: border-box;

			svg {
				width: 100%;
				object-fit: fill;

				opacity: .1;
				transition: all .5s;

				user-drag: none;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-drag: none;
				-webkit-user-select: none;
				-ms-user-select: none;
			}
		}

		.card-content {
			position: absolute;
			left: 10px;
			right: 10px;
			bottom: 10px;
			height: 10%;
			background: rgba(0, 0, 0, 0.4);

			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: all .5s;
		}

		p {
			margin: 0;
			padding: 0;
			font-size: 1.5rem;
		}
	}
}
